<h1>Customers (Missing Email)</h1>
<%= link_to("Return to All", customers_path) %>

<ol>
  <% @customers.each do |customer| %>
    <li>
      <%= render partial: customer %>
    </li>
  <% end %>
</ol>
